/* SITE WIDE */

/* smooth scroll */
html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

/* line width */
.sqs-block-content hr {
  height: 2px !important;
}


/* custom bullets */
ul[data-rte-list] li>*:first-child::before {
    content: "\25CB";
    font-weight: 400;
    color: #f55f56;
}

#siteWrapper .header .header-skip-link {
  position: absolute;
}

/* Stretchy Navigation Line - v2 */
/* .header-nav-item::after {
  content: '';
  background: #f55f56;
  height: 2px;
  width: 0;
  display: block;
  margin-top: 1px !important;
  transition: width 0.5s;
  margin: 0 auto;
} */

/* custom links*/

.blog-item .blog-more-link::after,
.summary-content .summary-read-more-link::after,
.image-subtitle-wrapper .image-subtitle a::after,
/* .link-inline a::after, */
.sqs-block-html .link-inline::after,
.header-nav-item a::after {
  content: '';
  background: #f55f56; /*color*/
  height: 2px; /* thickness */
  width: 0; /* initial */
  display: block; /* required fro transition */
  transition: width 0.5s; /*animation speed*/
  margin: 1px auto 0;
  position: absolute;
}

.blog-item .blog-more-link,
.summary-content .summary-read-more-link,
.image-subtitle-wrapper .image-subtitle a,
.sqs-block-html .link-inline,
.header-nav-item a
{
  position: relative;
  float: left;
  text-decoration: none;
}

.blog-item .blog-more-link:hover::after,
.summary-content .summary-read-more-link:hover::after,
.image-subtitle-wrapper .image-subtitle a:hover::after,
.sqs-block-html .link-inline:hover::after,
.header-nav-item a:hover::after
 {
  width: 100%;
}

.header-nav-item--active a {
    background-image: none !important;
}

.header-nav-item--active a::after {
  width: 100%;
}

/* HOMEPAGE */


/* homepage icon size */

#block-yui_3_17_2_1_1615463163906_23236 { max-width: 100px !important;  margin: auto;}

#block-yui_3_17_2_1_1615465395265_13867 { max-width: 100px !important; margin: auto;}

#block-yui_3_17_2_1_1615467833117_14734 { max-width: 100px !important;margin: auto;}

/* insights lines homepage */

#block-yui_3_17_2_1_1615457935145_12610 {margin-top: -20px; margin-bottom: -30px}

#block-yui_3_17_2_1_1615457935145_13206
{margin-top: -20px; margin-bottom: -30px}

#block-yui_3_17_2_1_1615457935145_13974
{margin-top: -20px; margin-bottom: -30px}

/* insights text homepage */

#block-yui_3_17_2_1_1615462504446_11190 p {margin-top: -20px !important;}

#block-yui_3_17_2_1_1615462504446_12379 p {margin-top: -20px !important;}

#block-yui_3_17_2_1_1615462504446_13554 p {margin-top: -20px !important;}

/* hover grow icons homepage */

#block-yui_3_17_2_1_1615463163906_23236
 .design-layout-inline:hover img {transform: scale(1.04) !important;}

#block-yui_3_17_2_1_1615465395265_13867
 .design-layout-inline:hover img {transform: scale(1.04) !important;}

#block-yui_3_17_2_1_1615467833117_14734
 .design-layout-inline:hover img {transform: scale(1.04) !important;}


/* Homepage header line */

#block-yui_3_17_2_1_1616158154430_5521
.sqs-block-content hr {width: 120px !important; margin-bottom: -10px !important; margin: 0 !important;}

/* Homepage quote line */

#block-yui_3_17_2_1_1616445514181_6578 .sqs-block-content hr {
  width: 120px !important; margin-bottom: -10px !important; margin: 0 !important;
}

#block-yui_3_17_2_1_1615478300841_9188
{margin-top: -10px !important;}

#block-b9fbc86e6f2a14a10181 h3 {font-size: 28px;}

/* stats lines homepage */

#block-yui_3_17_2_1_1615913529167_14601 {margin-top: -30px; margin-bottom: -30px}

#block-yui_3_17_2_1_1615913529167_17092 {margin-top: -30px; margin-bottom: -30px}

#block-yui_3_17_2_1_1615913529167_21673{margin-top: -30px; margin-bottom: -30px}

#block-yui_3_17_2_1_1615913529167_23128 {margin-top: -30px; margin-bottom: -30px}

#block-yui_3_17_2_1_1615913529167_24614 {margin-top: -30px; margin-bottom: -30px}

#block-yui_3_17_2_1_1615913529167_26139 {margin-top: -30px; margin-bottom: -30px}


/* stats spacing homepage */
#block-6050de94f88b82622ea353c4
{width: 80% !important;
  margin: auto!important;}

#block-6050de94f88b82622ea353c4 p {margin-top: -40px;}

#block-yui_3_17_2_1_1616001567561_15150 {margin-top:-80px;}

#block-yui_3_17_2_1_1615913529167_21735 p {margin-top: -40px}

#block-yui_3_17_2_1_1616001615814_15231{margin-top:-80px;}


#block-yui_3_17_2_1_1615913529167_24675 p {margin-top: -40px}

#block-yui_3_17_2_1_1616001615814_18850
{margin-top:-80px;}

#block-yui_3_17_2_1_1615913529167_17092 .sqs-block-content hr {
  width: 20%; height: 2px;}

 #block-yui_3_17_2_1_1615913529167_23128
  .sqs-block-content hr {
  width: 20%; height: 2px;
}

#block-yui_3_17_2_1_1615913529167_26139
  .sqs-block-content hr {
  width: 20%; height: 2px;
}

/* stats fonts homepage */

#block-yui_3_17_2_1_1615913529167_15621
p { font-size: 60px;}

#block-yui_3_17_2_1_1615912431671_45929
p { font-size: 60px;}

#block-yui_3_17_2_1_1615912431671_67994
p { font-size: 60px;}

#block-6050de94f88b82622ea353c4
p { font-size: 16px !important;}

#block-yui_3_17_2_1_1615913529167_21735
p { font-size: 16px !important;}

#block-yui_3_17_2_1_1615913529167_24675
p { font-size: 16px !important;}


/* ABOUT */

/* About lines */

#collection-604b3073cf1c161cd038bca5
.sqs-block-content hr {margin-bottom: -10px !important;}

#collection-604b3073cf1c161cd038bca5
.sqs-block-horizontalrule hr {
 width: 120px;
  margin: 0;
height: 2px;}

/* SERVICES */

/* Services lines */

#block-yui_3_17_2_1_1616408394982_5590
.sqs-block-content hr {width: 120px !important; margin-bottom: -10px !important; margin: 0 !important;}

#block-yui_3_17_2_1_1616409479119_13726
.sqs-block-content hr {width: 120px !important; margin-bottom: -10px !important; margin: 0 !important;}

#block-yui_3_17_2_1_1616409479119_10836
.sqs-block-content hr {width: 120px !important; margin-bottom: -10px !important; margin: 0 !important;}

#block-yui_3_17_2_1_1616409479119_10227
.sqs-block-content hr {width: 120px !important; margin-bottom: -10px !important; margin: 0 !important;}

/* stats lines services */

#block-yui_3_17_2_1_1616410040334_13919{margin-top: -30px; margin-bottom: -30px}

#block-yui_3_17_2_1_1616410040334_29823{margin-top: -30px; margin-bottom: -30px}

#block-yui_3_17_2_1_1616410040334_47764{margin-top: -30px; margin-bottom: -30px}

/* stats fonts SERVICES */

#block-605875c47ff8335e3a1d2ac9
p { font-size: 60px;}

#block-yui_3_17_2_1_1616410040334_16094
p { font-size: 60px;}

#block-yui_3_17_2_1_1616410040334_37415
p { font-size: 60px;}

#block-yui_3_17_2_1_1616410040334_13061
p { font-size: 16px !important;}

#block-yui_3_17_2_1_1616410040334_28559
p { font-size: 16px !important;}

#block-yui_3_17_2_1_1616410040334_46238
p { font-size: 16px !important;}

/* stats spacing SERVICES */

#block-yui_3_17_2_1_1616410040334_13061 p {margin-top: -10px}

#block-yui_3_17_2_1_1616410040334_12332 {margin-top:-80px;}

#block-yui_3_17_2_1_1616410040334_28559 p {margin-top: -10px}

#block-yui_3_17_2_1_1616410040334_27600{margin-top:-80px;}


#block-yui_3_17_2_1_1616410040334_46238 p {margin-top: -10px}

#block-yui_3_17_2_1_1616410040334_38850
{margin-top:-80px;}

#block-yui_3_17_2_1_1616410040334_13919
  .sqs-block-content hr {
    width: 20% !important; height: 2px !important;}

#block-yui_3_17_2_1_1616410040334_29823
  .sqs-block-content hr {
  width: 20% !important; height: 2px !important;
}

#block-yui_3_17_2_1_1616410040334_47764
  .sqs-block-content hr {
    width: 20% !important; height: 2px !important;}


/* TEAM */

/* Team work with us link */
#block-yui_3_17_2_1_1616100789279_5055 {margin-top: 20px;}

/* Team para line-height */
#block-yui_3_17_2_1_1616153682503_17761 p {line-height: 1.3;}

/* team lines */

#block-yui_3_17_2_1_1616101492277_14295 {margin-top: 20px;}

#collection-604b305c399d2d5c112b3fb7
.sqs-block-content hr {margin-bottom: -10px !important;}

#collection-604b305c399d2d5c112b3fb7
.sqs-block-horizontalrule hr {
 width: 120px;
  margin: 0;
height: 2px;}

#block-yui_3_17_2_1_1616101492277_14295
.sqs-block-content hr {
  margin-bottom: 0px !important;}

#block-yui_3_17_2_1_1616100935229_19545
{
  margin-top: -20px !important;}


/* Amy Profile */
#block-yui_3_17_2_1_1615976958228_5046 .sqs-block-content hr {
  width: 20%; height: 2px; margin-top: -5px;}

/* Andy Profile */
#block-613ddf78c4d188f720b3
.sqs-block-content hr {
  width: 20%; height: 2px; margin-top: -5px;}

/* Claudia Profile */
#block-3ba508b98592d82c1527
.sqs-block-content hr {
  width: 20%; height: 2px; margin-top: -5px;}

/* Dominique Profile */
#block-57e273edefb24df22141
.sqs-block-content hr {
  width: 20%; height: 2px; margin-top: -5px;}

/* Georgina Profile */
#block-6619e6ffb169a97b711c
.sqs-block-content hr {
  width: 20%; height: 2px; margin-top: -5px;}

/* Inge Profile */
#block-01fd4497544d7a121084
.sqs-block-content hr {
  width: 20%; height: 2px; margin-top: -5px;}

/* Jennifer Profile */
#block-22b75f04e6dd9d398c8c
.sqs-block-content hr {
  width: 20%; height: 2px; margin-top: -5px;}

/* Paul Profile */
#block-9d9bb5d20b856bc7a739
.sqs-block-content hr {
  width: 20%; height: 2px; margin-top: -5px;}

/* Susie Profile */
#block-e01474747e21a08f08c1
.sqs-block-content hr {
  width: 20%; height: 2px; margin-top: -5px;}


/* CLIENT STORIES */

/* client stories lines */
#collection-604b368437a6de4de47865c7
.sqs-block-content hr {
  margin-bottom: -10px !important;}

/* client stories body copy */
#block-yui_3_17_2_1_1616156018655_6271
p {
  font-size: 15px!important;}


/* CONTACT */

#collection-604b306b52e38a73f5f04e3a .sqs-block-content hr {
  margin-top: 20px !important;
 width: 120px;
  margin: 0;
height: 2px;}

#block-yui_3_17_2_1_1616066587249_11287
{ margin-top: -10px !important;}

#block-yui_3_17_2_1_1616066587249_6050
{ margin-top: -10px !important;}



/* fonts */

span.portfolio-hover-item-content {
    font-family: MatterSQ-bold !important;
}

.sqs-block-summary-v2 ,
.summary-title,
.summary-heading {
font-family: 'MatterSQ-bold';
font-weight: 400;
font-size: 21px !important;
}

.sqs-block-summary-v2,
.summary-read-more-link  {
font-family: 'MatterSQ-regular';
font-weight: 500;
font-size: 16px !important;
}

.sqs-block-summary-v2,
.summary-metadata {
font-family: 'MatterSQ-regular';
font-weight: 500;
font-size: 16px !important;
}


/* blog font */
.blog-basic-grid--text * {
    font-family: 'MatterSQ-regular' !important;
}

/* pagination */
h2.item-pagination-title {
    font-family: 'MatterSQ-Bold'  !important;
}

h1.blog-title a {font-family: 'MatterSQ-Bold' !important;}
.blog-item-title h1 {font-family: 'MatterSQ-Bold' !important;}

@font-face {
font-family: MatterSQ-Bold;
src: url(https://static1.squarespace.com/static/6048bfe1f6c92f1cdb7d326f/t/6048c2318be54e23df463146/1615381041715/MatterSQ-Bold.woff);
}

h1 {
font-family: MatterSQ-Bold;
}

h2 {
font-family: MatterSQ-Bold;
}

h3 {
font-family: MatterSQ-Bold;
}

H4 {
font-family: MatterSQ-Bold;
}




@font-face {
font-family: MatterSQ-Regular;
src: url(https://static1.squarespace.com/static/6048bfe1f6c92f1cdb7d326f/t/6048c23e292cdf6b848c0313/1615381054976/MatterSQ-Regular.woff);
}
.sqsrte-large {
font-family: MatterSQ-Regular;
}

p {
font-family: MatterSQ-Regular;
}

.sqsrte-small {
font-family: MatterSQ-Regular;
}

/* monospace */
pre code {
	font-family: MatterSQ-Regular !important;
}

h3.portfolio-title {font-family: MatterSQ-Bold !important;}

/* some custom styles related to ticket text */

#holder {
  width: 100%;
}

.tt {
  display: none;
}

.ttt {
  margin: 0;
}

.ttt::after {
  content : "\0020";
  animation: pulse 1s infinite;
  color: transparent;
  border-right: 3px solid black;
  margin-left: 4px;
}

@keyframes pulse {
  0% {
     border-right: 3px solid  black;
  }
  50% {
     border-right: 3px solid  transparent;
  }
  100% {
     border-right: 3px solid  black;
  }
}