/* reset */
p {
  margin: 0;
  padding: 0;
}

.red {
  background: red;
}

.block {
  width: 100%;
  height: 50px;
}

.text {
  font-size: 3rem;
  max-width: 100%;
}

#holder {
  width: 100%;
}

.tt {
  display: none;
}

.ttt {
  line-height: 2;
  padding-right: 50%;
}

