@charset "utf-8";
/* some custom styles related to ticket text */

#holder {
  width: 100%;
}

.tt {
  opacity: 50%;
}

.red {
  color: red;
}

.ttt {
  margin: 0;
}

.ttt::after {
  content : "\0020";
  animation: pulse 1s infinite;
  color: transparent;
  border-right: 3px solid black;
  margin-left: 4px;
}

@keyframes pulse {
  0% {
     border-right: 3px solid  black;
  }
  50% {
     border-right: 3px solid  transparent;
  }
  100% {
     border-right: 3px solid  black;
  }
}

/* h1 {
  font-weight: 200;
} */