
/* some custom styles related to ticket text */

#holder {
  width: 100%;
}

.tt {
  /* display: none; */
  opacity: 50%;
}

.ttt {
  margin: 0;
}

.ttt::after {
  content : "\0020";
  animation: pulse 1s infinite;
  color: transparent;
  border-right: 3px solid black;
  margin-left: 4px;
}

/* .ttt_items {
  display:  none;
} */

@keyframes pulse {
  0% {
     border-right: 3px solid  black;
  }
  50% {
     border-right: 3px solid  transparent;
  }
  100% {
     border-right: 3px solid  black;
  }
}

.red {
  color: red;
}

/* h1 {
  font-weight: 400;
} */

/* supports view ticker type text implementation */
.ttt_container .ttt_items {
  display: none;
}